<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button id="backButton" defaultHref="/dashboard" text="ย้อนกลับ"></ion-back-button>

        </ion-buttons>
    <ion-title>
     เปลี่ยนรหัสผ่าน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">


    <ion-item>
      <ion-label position="floating" color="primary">รหัสผ่านปัจจุบัน</ion-label>
      <ion-input type="password" formControlName="oldpassword" ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.oldpassword">
        <div class="error-message" *ngIf="validations_form.get('oldpassword').hasError(validation.type) && (validations_form.get('oldpassword').dirty || validations_form.get('oldpassword').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label position="floating" color="primary">รหัสผ่านใหม่</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">ยืนยันรหัสผ่านใหม่</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <!-- These validations are for the form group -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

  

<ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid" tappable>
  <ion-icon name="md-create"></ion-icon>
  อัพเดตข้อมูล

</ion-button>
</form>
</ion-content>
